# Okta OIDC Configuration
VITE_OKTA_CLIENT_ID=<id></id>
VITE_OKTA_ISSUER=https://moengageinc.oktapreview.com
VITE_OKTA_REDIRECT_URI=http://localhost:5173/login/callback

# Zendesk Config:
VITE_ZENDESK_DOMAIN=moengage
VITE_ZENDESK_API_TOKEN=token
VITE_ZENDESK_EMAIL=email
VITE_ZENDESK_SUBDOMAIN=moengage.zendesk.com

# Optional: Custom redirect URI for production
# VITE_OKTA_REDIRECT_URI=https://your-app-domain.com

# Ask mode session storage API
VITE_STORAGE_API_BASE_URL=http://localhost:8001
